.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 23%; 
    width: 100%;
    border-radius:4px;
}
.two{
background-color:#448aff;}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ffe082;
    color: black;
    border-radius:4px;
}
.main {
    margin-top: 30px;
}
body
{
font-type:Arial;
background-color:#76ff03;
}
#one{background-color:#424242;
line-height:35px;
color:white;}
input
{
border-radius:4px;
background-color:#9e9e9e;}
input[type=submit]
{
color:white;
background-color:black;
}
#registration
{color:white;}
.form input[type=text]
{
   width:15%;
   font-size:45%;
}

input[type=submit]: hover
{
background:#ff6d00;
}
.form input[type=password]
{
   width:15%;
   font-size:45%;
}
.form input[type=submit]
{
 width:10%;
font-size:45%;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 250px;
  height: 40px;
  background: #9e9e9e;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000000;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #000000;  
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color:#000000;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
input[type=text]:hover{
background:#ffffff}
input[type=email]:hover{
background:#ffffff}
input[type=password]:hover{
background:#ffffff}
.three
{
background-color:#ffffff;
}
